tr {
    width: 100%;
    height: 40px;
}

td,
th {
    text-align: left;
    width: 45%;
}

.esg_div_home_tab {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.label_home_tab {
    font-weight: normal;
}